name: Build and release

on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}-${{ inputs.build }}
  cancel-in-progress: true

jobs:
  set_version:
    name: Gather release version info
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.outputs.outputs.version }}
      tag: ${{ steps.outputs.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25
      - name: Extracting version number from changelog.md
        if: github.event_name == 'workflow_dispatch'
        run: |
          LATEST_VERSION=$(grep -E -m 1 '^(###|####) ' docs/changelog.md | sed 's/^[#]* //')
          echo "version=$LATEST_VERSION" >> "$GITHUB_ENV"
      - name: Get version number from the last commit
        if: github.event_name != 'workflow_dispatch'
        run: |
          go run -v ./cmd/internal/read_tag --nightly
      - name: Set outputs
        id: outputs
        run: |
          echo "version=$version" >> "$GITHUB_OUTPUT"
          echo "tag=v$version" >> "$GITHUB_OUTPUT"
  create_release:
    name: Create draft release
    needs: set_version
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RELEASE_TAG: ${{ needs.set_version.outputs.tag }}
      VERSION: ${{ needs.set_version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup environment
        shell: bash
        run: |
          echo "VERSION=${{ env.VERSION }}"
          RELEASE_NOTES=$(awk "/^### $VERSION$|^#### $VERSION$/{flag=1;next}/^(###|####) /{flag=0}flag" docs/changelog.md)
          echo "$RELEASE_NOTES" > changelog.md
          echo -e "Setting release name to version $VERSION"
          echo -e "Release notes: ${RELEASE_NOTES}"
      - name: Create draft release
        run: |
          gh release create ${{ env.RELEASE_TAG }} --title ${{ env.VERSION }} --notes-file changelog.md --latest --draft
  build:
    name: Build binary
    runs-on: ubuntu-latest
    needs:
      - set_version
      - create_release
    strategy:
      fail-fast: true
      matrix:
        include:
          - {
              os: linux,
              arch: amd64,
              debian: amd64,
              rpm: x86_64,
              pacman: x86_64,
              openwrt: "x86_64",
            }
          - {
              os: linux,
              arch: "386",
              go386: sse2,
              debian: i386,
              rpm: i386,
              openwrt: "i386_pentium4",
            }
          - {
              os: linux,
              arch: "386",
              go386: softfloat,
              openwrt: "i386_pentium-mmx",
            }
          - {
              os: linux,
              arch: arm64,
              debian: arm64,
              rpm: aarch64,
              pacman: aarch64,
              openwrt: "aarch64_cortex-a53 aarch64_cortex-a72 aarch64_cortex-a76 aarch64_generic",
            }
          - {
              os: linux,
              arch: arm,
              goarm: "5",
              openwrt: "arm_arm926ej-s arm_cortex-a7 arm_cortex-a9 arm_fa526 arm_xscale",
            }
          - {
              os: linux,
              arch: arm,
              goarm: "6",
              debian: armel,
              rpm: armv6hl,
              openwrt: "arm_arm1176jzf-s_vfp",
            }
          - {
              os: linux,
              arch: arm,
              goarm: "7",
              debian: armhf,
              rpm: armv7hl,
              pacman: armv7hl,
              openwrt: "arm_cortex-a5_vfpv4 arm_cortex-a7_neon-vfpv4 arm_cortex-a7_vfpv4 arm_cortex-a8_vfpv3 arm_cortex-a9_neon arm_cortex-a9_vfpv3-d16 arm_cortex-a15_neon-vfpv4",
            }
          - {
              os: linux,
              arch: mips,
              gomips: softfloat,
              openwrt: "mips_24kc mips_4kec mips_mips32",
            }
          - {
              os: linux,
              arch: mipsle,
              gomips: hardfloat,
              debian: mipsel,
              rpm: mipsel,
              openwrt: "mipsel_24kc_24kf",
            }
          - {
              os: linux,
              arch: mipsle,
              gomips: softfloat,
              openwrt: "mipsel_24kc mipsel_74kc mipsel_mips32",
            }
          - {
              os: linux,
              arch: mips64,
              gomips: softfloat,
              openwrt: "mips64_mips64r2 mips64_octeonplus",
            }
          - {
              os: linux,
              arch: mips64le,
              gomips: hardfloat,
              debian: mips64el,
              rpm: mips64el,
            }
          - {
              os: linux,
              arch: mips64le,
              gomips: softfloat,
              openwrt: "mips64el_mips64r2",
            }
          - { os: linux, arch: s390x, debian: s390x, rpm: s390x }
          - { os: linux, arch: ppc64le, debian: ppc64el, rpm: ppc64le }
          - {
              os: linux,
              arch: riscv64,
              debian: riscv64,
              rpm: riscv64,
              openwrt: "riscv64_generic",
            }
          - {
              os: linux,
              arch: loong64,
              debian: loongarch64,
              rpm: loongarch64,
              openwrt: "loongarch64_generic",
            }

          - { os: windows, arch: amd64 }
          - { os: windows, arch: "386" }
          - { os: windows, arch: arm64 }

          - { os: darwin, arch: amd64 }
          - { os: darwin, arch: arm64 }

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25
      - name: Set tag
        run: |-
          git ls-remote --exit-code --tags origin v${{ needs.set_version.outputs.version }} || echo "PUBLISHED=false" >> "$GITHUB_ENV"
          git tag v${{ needs.set_version.outputs.version }} -f
      - name: Set build tags
        run: |
          set -xeuo pipefail
          TAGS='with_gvisor,with_quic,with_dhcp,with_wireguard,with_utls,with_acme,with_clash_api,with_tailscale'
          echo "BUILD_TAGS=${TAGS}" >> "${GITHUB_ENV}"
      - name: Build
        run: |
          set -xeuo pipefail
          mkdir -p dist
          go build -v -trimpath -o dist/sing-box -tags "${BUILD_TAGS}" \
          -ldflags '-s -buildid= -X github.com/sagernet/sing-box/constant.Version=${{ needs.set_version.outputs.version }}' \
          ./cmd/sing-box
        env:
          CGO_ENABLED: "0"
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          GO386: ${{ matrix.go386 }}
          GOARM: ${{ matrix.goarm }}
          GOMIPS: ${{ matrix.gomips }}
          GOMIPS64: ${{ matrix.gomips }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ needs.set_version.outputs.version }}
      - name: Set name
        run: |-
          DIR_NAME="sing-box-${{ needs.set_version.outputs.version }}-${{ matrix.os }}-${{ matrix.arch }}"
          if [[ -n "${{ matrix.goarm }}" ]]; then
            DIR_NAME="${DIR_NAME}v${{ matrix.goarm }}"
          elif [[ -n "${{ matrix.go386 }}" && "${{ matrix.go386 }}" != 'sse2' ]]; then
            DIR_NAME="${DIR_NAME}-${{ matrix.go386 }}"
          elif [[ -n "${{ matrix.gomips }}" && "${{ matrix.gomips }}" != 'hardfloat' ]]; then
            DIR_NAME="${DIR_NAME}-${{ matrix.gomips }}"
          elif [[ -n "${{ matrix.legacy_name }}" ]]; then
            DIR_NAME="${DIR_NAME}-legacy-${{ matrix.legacy_name }}"
          fi
          echo "DIR_NAME=${DIR_NAME}" >> "${GITHUB_ENV}"
          PKG_VERSION="${{ needs.set_version.outputs.version }}"
          PKG_VERSION="${PKG_VERSION//-/\~}"
          echo "PKG_VERSION=${PKG_VERSION}" >> "${GITHUB_ENV}"
      - name: Package DEB
        if: matrix.debian != ''
        run: |
          set -xeuo pipefail
          sudo gem install fpm
          sudo apt-get update
          sudo apt-get install -y debsigs
          cp .fpm_systemd .fpm
          fpm -t deb \
            -v "$PKG_VERSION" \
            -p "dist/sing-box_${{ needs.set_version.outputs.version }}_${{ matrix.os }}_${{ matrix.debian }}.deb" \
            --architecture ${{ matrix.debian }} \
            dist/sing-box=/usr/bin/sing-box
      - name: Package RPM
        if: matrix.rpm != ''
        run: |-
          set -xeuo pipefail
          sudo gem install fpm
          cp .fpm_systemd .fpm
          fpm -t rpm \
            -v "$PKG_VERSION" \
            -p "dist/sing-box_${{ needs.set_version.outputs.version }}_${{ matrix.os }}_${{ matrix.rpm }}.rpm" \
            --architecture ${{ matrix.rpm }} \
            dist/sing-box=/usr/bin/sing-box
      - name: Package Pacman
        if: matrix.pacman != ''
        run: |-
          set -xeuo pipefail
          sudo gem install fpm
          sudo apt-get update
          sudo apt-get install -y libarchive-tools
          cp .fpm_systemd .fpm
          fpm -t pacman \
            -v "$PKG_VERSION" \
            -p "dist/sing-box_${{ needs.set_version.outputs.version }}_${{ matrix.os }}_${{ matrix.pacman }}.pkg.tar.zst" \
            --architecture ${{ matrix.pacman }} \
            dist/sing-box=/usr/bin/sing-box
      - name: Package OpenWrt
        if: matrix.openwrt != ''
        run: |-
          set -xeuo pipefail
          sudo gem install fpm
          cp .fpm_openwrt .fpm
          fpm -t deb \
            -v "$PKG_VERSION" \
            -p "dist/openwrt.deb" \
            --architecture all \
            dist/sing-box=/usr/bin/sing-box
          for architecture in ${{ matrix.openwrt }}; do
            .github/deb2ipk.sh "$architecture" "dist/openwrt.deb" "dist/sing-box_${{ needs.set_version.outputs.version }}_openwrt_${architecture}.ipk"
          done
          rm "dist/openwrt.deb"
      - name: Archive
        run: |
          set -xeuo pipefail
          cd dist
          mkdir -p "${DIR_NAME}"
          cp ../LICENSE "${DIR_NAME}"
          if [ '${{ matrix.os }}' = 'windows' ]; then
            cp sing-box "${DIR_NAME}/sing-box.exe"
            zip -r "${DIR_NAME}.zip" "${DIR_NAME}"
          else
            cp sing-box "${DIR_NAME}"
            tar -czvf "${DIR_NAME}.tar.gz" "${DIR_NAME}"
          fi
          rm -r "${DIR_NAME}"
      - name: Cleanup
        run: rm dist/sing-box
      - name: Upload to release
        run: |
          cd dist
          for file in *; do
            [ "$file" = "sing-box" ] || [ "$file" = "sing-box.exe" ] && continue
            gh release upload ${{ needs.set_version.outputs.tag }} "$file" --clobber
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
